
<!-- Begin head -->
<title>{pyro:settings:site_name}&nbsp;|&nbsp;{pyro:page:title}</title>

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="author" content="Justin Hough" />
<meta name="copyright" content="JustinHough.com" />
<meta name="language" content="en" />

<link rel="shortcut icon" href="favicon.jpg" type="image/x-icon" />

<!-- Begin stylesheets -->
{pyro:theme:css file="style.css"}
<link  href="http://fonts.googleapis.com/css?family=Allerta" rel="stylesheet" type="text/css" />
<!-- End stylesheets -->
<!-- Begin scripts -->

{pyro:theme:js file="orbit/jquery-1.4.1.min.js"}
{pyro:theme:js file="localscroll.js"}
{pyro:theme:js file="scrollto.js"}
{pyro:theme:js file="easing.js"}
{pyro:theme:js file="global.js"}
<!-- Orbit -->
{pyro:theme:js file="orbit/jquery.orbit.min.js"}
{pyro:theme:js file="orbit/jquery.orbit.js"}
<!-- Fancybox -->
{pyro:theme:js file="fancybox/jquery.easing-1.3.pack.js"}
{pyro:theme:js file="fancybox/jquery.mousewheel-3.0.4.pack.js"}
{pyro:theme:js file="fancybox/jquery.fancybox-1.3.4.js"}
{pyro:theme:js file="fancybox/jquery.fancybox-1.3.4.pack.js"}
<!-- End scripts -->

{pyro:template:metadata}

<!-- Place CSS bug fixes for IE 6 in this comment -->
    <!--[if IE 6]>
    <meta http-equiv="refresh" content="0; url=http://www.microsoft.com/windows/internet-explorer/default.aspx" />
    <script type="text/javascript">
    /* <![CDATA[ */
    window.top.location = 'http://www.microsoft.com/windows/internet-explorer/default.aspx';
    /* ]]> */
    </script>
    <![endif]-->
    
    <!-- Place CSS bug fixes for IE 7 in this comment -->
    <!--[if IE 7]>
     <link href='../../css/ie.css' rel="stylesheet" type="text/css" />
    <![endif]-->
    
    <!--[if IE]>
         <style type="text/css">
             .timer { display: none !important; }
             div.caption { background:transparent; filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000,endColorstr=#99000000);zoom: 1; }
        </style>
    <![endif]-->

