<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" dir="ltr" lang="en-US">
<head>
	<title>960 Grid for PyroCMS&nbsp;|&nbsp;Test Site</title>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="author" content="JustinHough.com" />
    <meta name="copyright" content="JustinHough.com" />
    <meta name="language" content="en" />
    
    <link rel="shortcut icon" href="favicon.jpg" type="image/x-icon" />
    
    <!-- Begin stylesheets -->
    <link href='../../css/style.css' rel="stylesheet" type="text/css" />

    <link  href="http://fonts.googleapis.com/css?family=Allerta" rel="stylesheet" type="text/css" />
    <!-- End stylesheets -->
    <!-- Begin scripts -->
    
    <script type="text/javascript" src="../../js/orbit/jquery-1.4.1.min.js"></script>
    <script type="text/javascript" src="../../js/localscroll.js"></script>
    <script type="text/javascript" src="../../js/scrollto.js"></script>
    <script type="text/javascript" src="../../js/easing.js"></script>
    <script type="text/javascript" src="../../js/global.js"></script>
    <!-- Orbit -->
    <script type="text/javascript" src="../../js/orbit/jquery.orbit.min.js"></script>
    <script type="text/javascript" src="../js/orbit/jquery.orbit.js"></script>
    <!-- Fancybox -->
	<script type="text/javascript" src="../../js/fancybox/jquery.easing-1.3.pack.js"></script>
    <script type="text/javascript" src="../../js/fancybox/jquery.fancybox-1.3.4.js"></script>
    <script type="text/javascript" src="../../js/fancybox/jquery.fancybox-1.3.4.pack.js"></script>
    <script type="text/javascript" src="../../js/fancybox/jquery.mousewheel-3.0.4.pack.js"></script>
	<!-- End scripts -->
    
    
    <!-- Place CSS bug fixes for IE 6 in this comment -->
    <!--[if IE 6]>
    <meta http-equiv="refresh" content="0; url=http://www.microsoft.com/windows/internet-explorer/default.aspx" />
    <script type="text/javascript">
    /* <![CDATA[ */
    window.top.location = 'http://www.microsoft.com/windows/internet-explorer/default.aspx';
    /* ]]> */
    </script>
    <![endif]-->
    
    <!-- Place CSS bug fixes for IE 7 in this comment -->
    <!--[if IE 7]>
     <link href='../../css/ie.css' rel="stylesheet" type="text/css" />
    <![endif]-->
    
    <!--[if IE]>
         <style type="text/css">
             .timer { display: none !important; }
             div.caption { background:transparent; filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000,endColorstr=#99000000);zoom: 1; }
        </style>
    <![endif]-->


</head>
<body>

<div class="container_16"> 
  <!-- Begin pageWrapper --> 
<!--  {pyro:integration:analytics}-->
  <!-- Begin header -->
  <div id="header" class="grid_16"> 
  	<!-- Begin logo -->
    <div id="logo">
    	<a href="#" title="Home">960 PyroCMS</a>
    </div>
    <!-- End logo -->
  	 
  	 <ul id="navbar">
      <li><a href="#">Home</a></li>
      <li><a href="#">Test #1</a></li>
      <li><a href="#">Test #2</a></li>
      <li><a href="#">Test #3</a></li>
    </ul>
</div>
  <!-- End header --> 
  
  <!-- Begin Content -->
  <div id="contentWrapper" class="grid_16"> 
   <!-- BANNER -->
    <div id="bannerRotator"> 
      <!-- insert banner rotator here --> 
	<div id="featured"> 
		<img src="../../img/banners/banner-1.jpg" alt="Link" />
		<img src="../../img/banners/banner-2.jpg" alt="Ezio" />
		<img src="../../img/banners/banner-3.jpg" alt="Master Chief" />
		<img src="../../img/banners/banner-4.jpg"  alt="Marcus Fenix" />
    </div> 

      <!--{pyro:theme:partial name="rotator"}-->
    </div>
    <!-- MAIN -->
    <div id="content"> 
    	<!--{pyro:session:messages success="success-box" notice="notice-box" error="error-box"}
      	{pyro:theme:partial name="breadcrumbs"}-->
 
        <!-- Front Page Content -->
	    <div class="grid_11 alpha"> 
	    	<div id="main" class="equal">
	    		<!--{pyro:template:body}-->
	    		<h1>Heading</h1>
                <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo. Quisque sit amet est et sapien ullamcorper pharetra. Vestibulum erat wisi, condimentum sed, commodo vitae, ornare sit amet, wisi. </p>

				<p>Aenean fermentum, elit eget tincidunt condimentum, eros ipsum rutrum orci, sagittis tempus lacus enim ac dui. Donec non enim in turpis pulvinar facilisis. Ut felis. Praesent dapibus, neque id cursus faucibus, tortor neque egestas augue, eu vulputate magna eros eu erat. Aliquam erat volutpat. Nam dui mi, tincidunt quis, accumsan porttitor, facilisis luctus, metus.

				<p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo. Quisque sit amet est et sapien ullamcorper pharetra. Vestibulum erat wisi, condimentum sed, commodo vitae, ornare sit amet, wisi. Aenean fermentum, elit eget tincidunt condimentum, eros ipsum rutrum orci, sagittis tempus lacus enim ac dui. Donec non enim in turpis pulvinar facilisis. Ut felis. Praesent dapibus, neque id cursus faucibus, tortor neque egestas augue, eu vulputate magna eros eu erat. Aliquam erat volutpat. Nam dui mi, tincidunt quis, accumsan porttitor, facilisis luctus, metus.</p>

				<p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.</p>
	    		<p>&nbsp;</p>
			</div>
	    </div>
	    <div class="grid_5 omega"> 
	    	<div id="latest" class="equal">
		    	<!--{pyro:pages:children id="1"}
					{title}
				{/pyro:pages:children}-->

                <h2>Sidebar</h2>
                <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.</p>
                <br />
                <h2>What's Inside</h2>
                <ul>
                	<li>960 Grid</li>
                    <li>jQuery 1.4.2</li>
                    <li>Zurb Orbit Rotator</li>
                    <li>@font-face</li>
                </ul>
                
			</div>
	    </div>
    	
  </div>
 
  <!-- End Content --> 

</div>
 <div class="clear">&nbsp;</div>
</div>
<!-- FOOTER --> 
	<!-- Begin footer -->
<div id="footerWrapper">
<div class="container_16">
	<div id="footer" class="grid_16">
		<div class="grid_8 alpha">
			<div id="about">	
				<!-- About Section -->
				<h1>About Me</h1>
<!--				{pyro:widgets:instance id="2"}-->
				<p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.</p>
                <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.</p>
                
			</div>
		</div>
		<div class="grid_4">
			<div id="followUs">
					<!-- Follow Us -->
				<h1>Follow Us</h1>
                <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.</p>
			</div>
		</div>
		<div class="grid_4 omega">
			<div id="recentPosts">
            	<h1>User Login</h1>
				<!-- Recent Posts -->
				<div id="user-meta"> 
            <form action="{pyro:url:site}users/login" method="post" accept-charset="utf-8" id="login-small">
              <ul>
                <li class="email">
                  <input type="text" id="email" name="email" maxlength="120" value="Email Address" onblur="if (this.value == '') { this.value = 'Email Address'; }"  onfocus="if (this.value == 'Email Address') { this.value = ''; }" />
                </li>
                <li class="pword">
                  <input type="password" id="password" name="password" maxlength="20" value="Enter Password" onblur="if (this.value == '') { this.value = 'Enter Password'; }"  onfocus="if (this.value == 'Enter Password') { this.value = ''; }" />
                </li>
                <li class="form-buttons">
                  <input type="submit" value="Login" name="btnLogin" id="submit" />
                  or &nbsp;<a href="{pyro:url:site}register">Signup</a><br />
                  <input type="checkbox" id="remember-checksidebar" name="remember" value="1"  />
                  <span>Remember Me</span> </li>
              </ul>
            </form>
            </div>
				<!--{pyro:widgets:instance id="1"}-->
				
			</div>
		</div>
	</div>
	</div>
</div>
<!-- End footer -->

</body>
</html>